.img {
  position: relative;
  overflow: hidden;

  // Adjustments to simplify the hover effect logic
  &:hover > a > span > img {
    opacity: 0%; // Making the image transparent on hover
    transition: opacity, 0.5s;
  }

  // Ensuring the hover text style changes when the parent .img is hovered
  &:hover .images_hovertext {
    transform: translate(-50%, -50%);
    opacity: 75%;
  }

  // No need for separate &_nothover class since all states can be managed with &:hover
}

.images_hovertext {
  transition: 0.5s;
  color: white;
  position: absolute;
  font-size: 1.75rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  pointer-events: none;
  padding: 5px 7px;
  border-radius: 5px;
  opacity: 0%; // Default state is invisible
  font-weight: bold;
}

// This might be redundant or specific to a use case not fully explained
.images > span {
  position: absolute;
  font-size: 20px;
  top: 87px;
  left: 244px;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
  opacity: 75%;
}

// Adjustments for mobile and ultra-wide screens remain largely unchanged
@media screen and (max-width: 470px) {
  .img {
    &:hover > a > span > img {
      animation: none;
    }
  }

  .images_hovertext {
    animation: none;
  }
}

@media screen and (min-width: 1880px) {
  .images_hovertext,
  .images > span {
    font-size: 30px;
  }
}
