.projects {
  width: 100%;
  height: 100%;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  > h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 84px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
  }

  > p {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
  }

  &_twoColumns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 10px; // You can adjust the gap size as needed
    margin: 54px 0;
    height: 254px;

    @media screen and (max-width: 470px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      text-align: center;
    }

    &_first {
      grid-column: 3 / 5;

      > p {
        color: #000;

        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.92px;

        > span {
          color: #000;
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1.92px;
        }
      }

      .button {
        margin-top: 30px;
        padding: 24px 47px;
        border: 1px solid #000;
        background: white;
        color: #000;
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 1.92px;
        cursor: pointer;
        transition: all 0.3s ease; // Add transition for smooth effect

        &:active {
          transform: scale(0.98); // Slightly scale down the button
          background-color: #f0f0f0; // Optional: change background color on click
        }

        &:hover {
          background-color: #fa8080; // Change background color on hover
          color: white; // Change font color on hover
          border: 1px solid #fa8080;
        }
      }
    }

    &_second {
      grid-column: 6 / 11;

      > p {
        color: #000;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 118.75%; /* 19px */
        letter-spacing: 0.64px;
      }

      @media screen and (max-width: 470px) {
        margin: 0px 10px;
      }
    }
  }
}
